altair
anywidget
appnope
asttokens
attrs
blinker
bokeh
cachetools
certifi
charset-normalizer
click
comm
contourpy
cycler
dash-core-components
dash-html-components
dash-table
dash
debugpy
decorator
entrypoints
exceptiongroup
executing
fastjsonschema
Flask
fonttools
gitdb
GitPython
idna
importlib-metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
jsonschema-specifications
jsonschema
jupyter_client
jupyter_core
kiwisolver
markdown-it-py
MarkupSafe
matplotlib-inline
matplotlib
mdurl
nbclient
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
parso
pexpect
pillow
platformdirs
plotly
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
python-dotenv
pytz
pytz-deprecation-shim
PyYAML
pyzmq
quarto
referencing
requests
rich
rpds-py
semver
shiny
shinywidgets
six
smmap
stack-data
streamlit
tenacity
toml
toolz
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
vega
wcwidth
Werkzeug
xyzservices
zipp
